<%- include('components/header') %>
<div class="Container flex error">
  <h1>Sorry , Something went wrong! Please try again</h1>
  <a href="/" class="btn">Try Again</a>
</div>
<%- include('components/footer') %>
